
@{
    ViewBag.Title = "采威集團";
    ViewBag.BodyClass = "AboutUs";
    string cTitle = (string)ViewData["cTitle"];
}
<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a></li>
                        <li class="active">@cTitle</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@ViewBag.Title</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-md-4">

                <!-- <div class="owl-carousel" data-plugin-options='{"items": 1}'> -->
                <div>
                    <div class="thumbnail">
                        <img alt="" height="300" class="img-responsive" src="~/img/team/team-3.jpg">
                    </div>
                </div>
                <!-- <div>
                    <div class="thumbnail">
                        <img alt="" height="300" class="img-responsive" src="img/team/team-9.jpg">
                    </div>
                </div> -->
                <!-- </div> -->

            </div>

            <div class="col-md-8">

                <h2 class="shorter"> <strong>采威國際資訊股份有限公司-ISCOM.COM Online</strong></h2>
                <h4>誠信 熱情 專業</h4>

                <p>采威國際資訊(ISCOM)為提供兩岸三地的專業資訊服務公司，主要服務項目以系統整合、系統服務建置、企業E化服務(企業電子化、電子商務)、雲端維運服務、軟體產品與資訊解決方案，服務對象跨足兩岸三地中小企業、政府機關、教育市場等。</p>
                <p>
                    采威國際資訊擁有堅強的技術團隊、開放的企業文化及溫馨的工作環境，更以『能力與激勵』的升遷制度為導向，竭誠歡迎有強烈企圖心、勇於挑戰的優秀人才，加入采威不凡的團隊，一同開創另一片無限寬廣的藍海。
                </p>

                <ul class="list icons list-unstyled">
                    <li><i class="fa fa-check"></i> 提供專業應用軟體、資訊系統、電子商務委外服務。</li>
                    <li><i class="fa fa-check"></i> 兩岸三地軟體開發 (ERP,B2B/B2C Portal,EIP) 整合規劃、建置與維護服務。</li>
                    <li><i class="fa fa-check"></i>兩岸三地資訊安全 (Security) 與風險管理整體規劃、建置與維護服務。</li>
                </ul>

            </div>
        </div>

        <hr class="tall" />

        <div class="row center">

            <div class="col-md-4">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="100" data-plugin-options='{"barColor": "#E36159"}'>
                        <strong>專業品質</strong>
                        <label><span class="percent">101</span>%</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="100" data-plugin-options='{"barColor": "#0088CC", "delay": 300}'>
                        <strong>認證技術</strong>
                        <label><span class="percent">101</span>%</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="100" data-plugin-options='{"barColor": "#2BAAB1", "delay": 600}'>
                        <strong>客戶服務</strong>
                        <label><span class="percent">101</span>%</label>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <blockquote>
                    ISCOM
                    采威國際資訊
                    為提供兩岸三地的專業資訊服務公司，主要服務項目以系統整合、系統服務建置、企業E化服務(企業電子化、電子商務)、雲端維運服務、軟體產品與資訊解決方案，服務對象跨足兩岸三地中小企業、政府機關、教育市場等。
                </blockquote>
                <blockquote>
                    采威國際資訊持續以<span class="label label-info">兩岸三地最佳資訊服務標竿企業</span>與<span class="label label-info">Your best e-Business Provider</span>為經營目標，追求企業永續經營及成長，除整體營運穩定外，同時持續拓展業務與開拓全新的服務領域、加強發展兩岸三地多元化與專業多角化的經營，向全球國際化企業集團邁進。
                </blockquote>
                <blockquote>
                    采威國際資訊擁有堅強的技術團隊、開放的企業文化及溫馨的工作環境，更以『能力與激勵』的升遷制度為導向，竭誠歡迎有強烈企圖心、勇於挑戰的優秀人才，加入采威不凡的團隊，一同開創另一片無限寬廣的藍海。<br />

                    采威國際資訊在這個百倍挑戰與千倍機會的時代，為客戶、合作夥伴及員工提供實踐夢想、創造未來的舞台！
                </blockquote>
            </div>


        </div>

    </div>

</div>