@{
    ViewBag.Title = "隱私權說明";
    ViewBag.BodyClass = "Privacy";
    string cTitle = (string)ViewData["cTitle"];
}

<div role="main" class="main">

    <section class="page-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a></li>
                        <li class="active">@cTitle</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>@cTitle</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <h2>隱私權及資訊安全政策宣告</h2>

        <div class="row">
            <div class="col-md-12">
                <p>
                    歡迎您光臨采威國際資訊股份有限公司（以下簡稱本公司網站）！
                    本公司網站所登載之資料歡迎連結，如要重製、複製或散佈請來文取得本公司同意。
                    為了讓您能夠更安心的使用本網站所提供的各項服務措施，特此向您說明本網站資訊安全政策如下：
                </p>
                <h3>隱私權聲明</h3>
                <p>為了使用者個人資料及隱私權的保護，「采威」謹以下列聲明對外說明「采威」網站在線上蒐集個人資料的目的、行使範圍、利用方法、查詢以及更正方式等事項。「采威」網站所取得的個人資料，僅供「采威」使用於業務流程需要、內部管理等使用目的和範圍；除非事先說明或依照相關法律規定，否則「采威」網站不會將資料提供給第三方、或移作其他目的使用；使用者如果對於「采威」網站隱私權聲明或與個人資料有關之任何疑問，請於「采威」上班時間以電話或電子郵件聯繫(電話：04-2326-5200；Mail：services@iscom.com.tw)，「采威」網站人員將儘快回覆說明。約定之服務辦法與條款如有任何修改，皆會公佈在「采威」網站，建議使用者注意相關調整說明。若使用者於任何調整修改後繼續使用任一服務，表示使用者已同意接受修改後的約定事項。</p>
                <h3>個人資料取得 （依『個人資料保護法』第8條規定告知事項）</h3>
                <p>
                    <h4>1. 蒐集之目的：</h4>
                    002 人事管理(包含甄選、學經歷或其他人事措施) <br />
                    040 行銷<br />
                    090 消費者、客戶管理與服務<br />
                    098 商業與技術資訊<br />
                    101 產學合作<br />
                    135 資(通)訊服務<br />
                    136 資(通)訊與資料庫管理<br />
                    137 資通安全與管理<br />
                    150 輔助性與後勤支援管理<br />
                    157 調查、統計與研究分析<br /><br />

                    <h4>2. 個人資料之類別：</h4>
                    (1)	C001 辨識個人者。如姓名、地址、室內電話號碼、行動電話、電子郵遞地址、通訊及戶籍地址、收件人資料或其他任何可辨識資料本人者等。<br />
                    (2)	C011 個人描述。如年齡、性別、出生年月日等。<br />
                    (3)	C021家庭情形。<br />
                    (4)	C023家庭其他成員之細節。(家庭其他成員或親屬、父母)<br />
                    (5)	C035 休閒活動及興趣。如嗜好、運動及其他興趣等。<br />
                    (6)	C036 生活格調。如使用消費品之種類及服務之細節、個人之消費模式等。<br />
                    (7)	C051學校紀錄。(大學、專科或其他學校等)<br /><br />

                    <h4>3. 利用期間：</h4>
                    自使用者要求洽詢服務、主動聯繫或同意參加「采威」及其關係企業、相關業務合作夥伴之活動起，直到使用者或「采威」網站終止個人資料使用之日止。但法令另行規定者，依其規定。<br /><br />

                    <h4>4.	利用地區、對象及方式：</h4>
                    (1)	地區：中華民國地區、產品出貨地及「采威」網站相關業務合作夥伴（包括但不限於供貨商、物流商、維修商及其他執行事項輔助/代理人，以下亦同）所在地區與提供服務地區。<br />
                    (2)	對象：「采威」及其關係企業、相關業務合作夥伴。<br />
                    (3)方式：以書面、電話、簡訊、電子郵件、電子文件、網際網路及其他足以使當事人知悉或可得知悉之方式為之。
                    <br /><br />

                    <h4>5.	使用者就其個人資料依法得向「采威」網站主張之權利種類及行使方式：</h4>
                    (1)	權利種類：<br />
                    a.	查詢或請求閱覽。<br />
                    b.	製作複製本。<br />
                    c.	補充或更正。<br />
                    d.	請求停止蒐集、處理或利用。<br />
                    e.	請求刪除。<br />
                    (2)	行使方式：<br />
                    a.	來電「采威」網站客服（客服專線：04-2326-5200）提出申請。<br />
                    b.	電子郵件聯絡「采威」網站客服（電子信箱：services@iscom.com.tw）並提出申請。<br />
                    (3)	「采威」網站將依據使用者提出可資確認的身分證明文件申請，於法定期間內履行上述義務。若使用者委託他人代為申請者，請另外提出可資確認的身分證明，以備查核。若申請查詢或請求閱覽個人資料或製給複製本，「采威」網站得酌收相當費用，收費將依「采威」所規定的標準辦理。若「采威」網站未能於法定期間內處理使用者的申請，會將原因以書面方式告知與使用者知悉。若使用者委託他人代為登入者，使用者將負完全的責任。<br /><br />

                    <h4>6.	使用者有自由選擇提供個人資料之權利，但若不提供時，使用者將不能使用「采威」網站之全部或部分的個人化服務或加值服務，亦無從使「采威」網站履行對使用者的契約相關權利或義務。</h4>
                </p>
                <h3>網站隱私權保護政策</h3>
                <p>
                    上述權利，若因使用者不符合洽詢或相關活動程序、法律規定、「采威」網站依法負有保存義務或法律另有規定之情況者，不在此限。除符合下列情形之一，「采威」不得將個人資料進行前述特定目的外之利用：<br />
                    (1)	法律明文規定；<br />
                    (2)	為增進公共利益；<br />
                    (3)	為免除當事人之生命、身體、自由或財產上之危險；<br />
                    (4)	為防止他人權益之重大危害；<br />
                    (5)	經當事人書面同意。<br />
                    原則上，使用者進入「采威」網站時，並不需要輸入個人資料，例如姓名或電子郵件地址等，除非明確告知，「采威」網站不會在使用者不知情的情況下，取得使用者此等個人資料；「采威」網站會記錄使用者上網站的位址、以及在「采威」網站內的瀏覽活動等資料，但是這些資料僅供作流量分析和網路行為調查，以便於改善「采威」網站的服務品質；這些資料也只是總量上的分析，不會和特定個人相聯繫。 在某些情況下，例如當使用者要求洽詢或其他服務、或參加其他活動時，「采威」網站或其合作對象可能會要求使用者登入個人資料，以便於和使用者聯繫、完成交易、提供服務、或處理訂閱程序；在此等情況下，「采威」網站或其合作對象將明白告知使用者此等事實，如果使用者選擇不接收任何廣告或聯繫資訊，「采威」網站將完全予以尊重。<br />
                </p>
                <h3>個人資料的利用 </h3>
                <p>
                    「采威」網站所取得的個人資料，僅供「采威」網站於其內部及依照原說明的使用目的和範圍使用，除非事先說明、或依照相關法律規定，否則「采威」網站不會使用者個人資料提供給第三方、或移作其他目的使用。
                </p>
                <h3>資料安全</h3>
                <p>
                    「采威」網站將盡力以合理之技術及程序，保障所有使用者個人資料之安全。
                </p>
                <h3>查詢或更正的方式</h3>
                <p>
                    使用者個人資料有變更、或發現個人資料不正確的時候，可以隨時在「采威」相關網站中要求更正，包括要求停止寄發相關訊息等。
                </p>
                <h3>連結</h3>
                <p>
                    「采威」網站內含相關網頁都可能包含其他網頁的連結，對於此等不屬於「采威」網站之網頁，其內容或隱私權政策，均與「采威」網站無關。
                </p>
                <h3>
                    Cookie
                </h3>
                <p>
                    為了便利使用者，「采威」可能使用 Cookie 技術，以便於提供更適合使用者個人需要的服務；Cookie 是網站伺候器用來和使用者瀏覽器進行溝通的一種技術，它可能在使用者的電腦中儲存某些資訊，但是使用者可以經由瀏覽器的設定，取消或限制此項功能。如果使用者想知道如何取消、或限制此項功能，請與「采威」網站聯絡。「采威」將會不定期修訂隱私權政策，使用者如果對於「采威」隱私權政策、或與個人資料有關之相關事項有任何疑問，可以利用電子郵件和「采威」聯絡，「采威」將盡快回覆說明。
                </p>
            </div>
        </div>

    </div>

</div>