@using System.Data
@{
    ViewBag.Title = "全文索引";
    ViewBag.BodyClass = "FAQ";

    DataTable dt = (DataTable)ViewData["dt"];

    string title = "";
    string cdesc = "";
    string Url = "";

    string faq_id = "";
    string faq_title = "";
    string faq_desc = "";
    string faq_active = "";
    string faq_html = "";
    
}

<div role="main" class="main">
    <div role="main" class="main">

        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li><a href="~/">Home</a></li>
                            <li class="active">@ViewBag.Title</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1>@ViewBag.Title</h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="lead">
                        搜尋結果
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">


                    @if (dt.Rows.Count > 0)
                    {
                        faq_html = "";
                        faq_html += "<div class=\"toogle\" data-plugin-toggle  data-plugin-options='{\"isAccordion\":true}'>";
                        for (int i = 0; i < dt.Rows.Count; i++)
                        {
                            faq_id = dt.Rows[i]["faq_id"].ToString();
                            faq_title = dt.Rows[i]["faq_title"].ToString();
                            faq_desc = dt.Rows[i]["faq_desc"].ToString();

                            if (i == 0)
                            {
                                faq_active = "toggle active";
                            }
                            else
                            {
                                faq_active = "toggle";
                            }

                            faq_html += "<section class=\"" + faq_active + "\">";
                            faq_html += "<label>" + faq_title + "</label>";
                            faq_html += "    <div class=\"toggle-content\">";
                            faq_html += faq_desc;
                            faq_html += "    </div>";
                            faq_html += "</section>";

                        }
                        faq_html += "</div>";
                    }
                    @Html.Raw(faq_html)
                </div>

            </div>

        </div>

    </div>
</div>